body {
	padding-top: 60px;
    line-height: 18px;
}

#nav{
    position: fixed;
}

.list{
    border-left: 4px solid #0098AA;
    width: 200px;
}

.list:hover {
    border-left: 4px solid #BBB;
}

#new-task{
    padding-left: 40px;
}

#createList{
    width: auto;
}

#item-list .task {
    display: block;
    height: 50px;
    position: relative;
    overflow: hidden;
    /*border-top: 1px solid #ccc;*/
}

#item-list .task .destroy {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 15px;
    height: 20px;
    width: 20px;
}

#pw-error{
    width: 150px;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 3px;
}

hr{
    margin: 0px;
    margin-bottom: 4px;
}

#login::first-line {
    line-height: 24px;
    font-weight: bold;
}

#avatar {
    padding-top: 4px;
    height: 32px;
}

#login {
    padding-left: 7px;
    padding-right: 7px;
}

#item-list .task .display, #item-list .task .edit {
    margin-left: 30px;
    height: 100%;
    width: auto;
    float: left;
    padding-top: 18px;
    line-height: 1;
}

#task-input {
    width: 300px;
    position: relative;
    top: -3px;
}

#item-list .done .task-text {
    text-decoration: line-through;
    color: #999;
}

#item-list .task-due {
	float: left;
	margin-left: 1.5em;
}

#item-list .task:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

#item-list .task .destroy:hover {
    background-position: 0 -20px;
}

#item-list .task .check {
    float: left;
    width: 25px;
}

#item-list .task .task-text {
    float: left;
    margin-left: 10px;
    font-size: 100%;
}

#item-list .task .edit input {
    margin-left: 35px;
}

#edittag-input {
    width: 80px;
}

.course-list {
	margin: 0;
	list-style: none;
}

.course-list li a {
	display: block;
	padding: 10px;
	text-decoration: none;
}

.course-list li.selected a {
	font-weight: bold;
}

.course-list li:hover a {
	background-color: #e6e6e6;
}

.course-list li a::first-line {
	font-weight: bold;
	font-size: 110%;
}

.list.selected {
	font-weight: bold;
	background: #e6e6e6;
}

.list-name {
	display: block;
	padding: 10px;
	text-decoration: none;
}
.list-name:hover {
	text-decoration: none;
}

.list-name span{
	display: block;
}

.list-name span.name {
	font-size: 110%;
}

h1 {
	margin-bottom: 1em;
}
