<template name="lists">
	<h3>Your courses</h3>
	<div id="lists">
		{{#each lists}}
			<div class="list {{selected}}">
				{{#if editing}}
					<div class="edit">
						<input class="list-name-input" id="list-name-input" type="text" value="{{name}}" />
					</div>
				{{else}}
					<div class="display">
						<a class="list-name {{name_class}}" href="/{{_id}}">
							<span class="title">{{name}}</span>
							<span class="number">{{number}}</span>
						</a>
					</div>
				{{/if}}
			</div>
		{{/each}}
        <div id="createList">
            <input type="text" id="new-list" placeholder="Create a New List" />
        </div>
	</div>
</template>
