<template name="logged_in">
    {{#if is_logged_in}}
    <li class="nav"><a id='logout' href='#'>Logout {{username}}</a></li>
    <li class="nav"><img id="avatar" src="http://avatars.io/auto/{{username}}"></img></li>
    {{else}}
    <li class='dropdown'>
        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
        Login
        <b class='caret'></b>
        </a>
        <ul class='dropdown-menu'>
            <form id='login'>
                Login
                <hr>
                <input id='login-user' type='text' placeholder='Username'></input>
                <input id='login-pass' type='password' placeholder='Password'></input>
                <input id='login-submit' class='btn pull-right' type='button' value='Go!'></input>
                <div id="pw-error"></div>
            </form>
        </ul>
    </li>
    {{/if}}
</template>
