<template name="signup">
    <form id="signup-data" class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="username">Username:</label>
                <div class="controls">
                    <input type="text" class="input-xlarge"
                    id="username" placeholder="lmccan">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="email">Email Address:</label>
                <div class="controls">
                    <input type="email" class="input-xlarge"
                    id="email" placeholder="student@email.arizona.edu">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="password">Password:</label>
                <div class="controls">
                    <input type="password" class="input-xlarge"
                    id="password" placeholder="Password">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="confirm">Confirm Pass:</label>
                <div class="controls">
                    <input type="password" class="input-xlarge"
                    id="confirm" placeholder="Password Again">
                </div>
            </div>
        </fieldset>
    </form>
</template>
