<template name="signup">
    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span6">
                <h1>Welcome to Pyre!</h1>
                <br/><br/>
                <p>Pyre is a student sourced, synchronized to-do list for
                your courses. And it couldn't be easier to use.
                </p>
                <br/><br/>
                <ol>
                    <li>Find your school. Or become a pioneer and add it.</li>
                    <li>Find your courses. Can't find one? Create it!</li>
                    <li>Start completing tasks, Or create your own.</li>
                </ol>
                <br/><br/>
                <a class="btn btn-large btn-primary" data-toggle="modal" href="#signup">Sign Up Now</a>
                <div class="modal hide" id="signup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Make an Account</h3>
                    </div>
                    <div class="modal-body">
                        <form id="signup-data" class="form-horizontal">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="username">Username:</label>
                                    <div class="controls">
                                        <input type="text" class="input-xlarge" id="username" placeholder="lmccan">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="email">Email Address:</label>
                                    <div class="controls">
                                        <input type="email" class="input-xlarge" id="email" placeholder="student@email.arizona.edu">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="password">Password:</label>
                                    <div class="controls">
                                        <input type="password" class="input-xlarge" id="password" placeholder="Password">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="confirm">Confirm Password:</label>
                                    <div class="controls">
                                        <input type="password" class="input-xlarge" id="confirm" placeholder="Password Again">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Nevermind <i class="icon-thumbs-down"></i></a>
                        <a id="submit" href="#h" class="btn btn-primary">Sign Me Up! <i class="icon-thumbs-up icon-white"></i></a>
                    </div>
                </div>
                <br/><br/>
            </div>
            <div class="span6">
                <img src="http://www.goodfuneralguide.co.uk/uploaded_images/pyre-767763.jpg"></img>
            </div>
        </div>
    </div>
</template>
